*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
header{
    height: 1000px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #1C1B21 92.19%), url(/css/source/background.png);
    background-size: 100%;
    overflow: hidden;
    position: relative;
    nav{
        display: flex;
        justify-content: center;
        margin-top: 1%;
        ul{
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            li{
                list-style: none;
                a{
                    text-decoration: none;
                    color: white;
                    font-weight: bold;
                    img:first-child{
                        width: 60px;
                        border-radius: 50px;
                    }
                    img:last-child{
                        width: 143px;
                    }
                }
            }
        }
    }
}
